.container {
    width: 1080px
    margin: 0 auto;
    background: #FFFFAA

.header h1 {
    float: left;
    margin 0 50px 0 30px;
    
}
.header {
    clear: both;
    padding- bottom: 20px;
}
.header ul {
    padding-top: 10px;
    
nav ul li { 
    display: inline;
    padding-left: 20px;
    margin-top: 10px;
}
.content {
    float: left;    
    background-color: #4CD871;
    width: 75%;
}
.content img { 
    float: left;
    margin: 0 20px
}

.description {
    width: 50%;
    clear:right;
}

.aside ul li {
    background-color: #FAEEB7;
    display: block;
    text-align: center;
    float: right;
    width: 30%;
}

.footer {
    list-style-type: center;
    background-color: #6078CF;
    clear: both;
}
