div {
  width:1100px;
  height:800px;
  background: #ffffff;
  margin:0 auto;
  padding-top: 5px;
  padding-left: 10px;
}

@media (min-width:1000px) and (max-width:1300px) {
  div {
    background: #295266;
  } 
  p:nth-child(1) {
    color: #ffffff;
  } 
  p {
      color: #295266;
  }
}

@media (min-width:900px) and (max-width:1000px) {
  div {
    background: #4C1A80;
  }

  p {
      color: #4C1A80;
  }
  p:nth-child(1) {
      color:#ffffff;
  }
  p:nth-child(2) {
    color: #ffffff;
  }
}

@media (min-width:800px) and (max-width:900px) {
  div {
    background: #002E0F;
  }
  p:nth-child(1) { 
        color:#ffffff;
    }
  p:nth-child(2) { 
        color:#ffffff;
    }
  p:nth-child(3) { 
        color:#ffffff;
    }
  p { 
        color:#002E0F;
    }
}

@media (min-width:700px) and (max-width:800px) {

  div {
    background: #4C0000;
  }
  p:nth-child(1){
    color:#ffffff;
        }
  p:nth-child(2){
    color:#ffffff;
        }
  p:nth-child(3){
    color:#ffffff;
        }
  p:nth-child(4){
    color:#ffffff;
        }
  p {
    color: #4C0000;
        }    
    }
  
@media (min-width:600px) and (max-width:700px) {

  div {
    background: #003366;
  }
  p {
    color: #ffffff;
    }
  p:nth-child(6) {
    color: #003366;
    }
}
@media (min-width:300px) and (max-width:600px) {

  div {
    background: #52003D;
  }
  p {
    color: #ffffff;
    }
}
