div {
  width:1300px;
  height:800px;
  margin:0 auto;
  padding-top: 5px;
  padding-left: 10px;
  background: #295266;
  color: #ffffff;
}

.two, .three, .four, .five, .six {
    color: #295266
}

@media (max-width:1200px) {
    .one, .two {
        color: #ffffff;
    }
    .three, .four, .five, .six {
    color: #4C1A80;
    }
    div {
        background:#4C1A80;
    }
}
@media (max-width:1000px) {
    .one, .two, .three {
        color: #ffffff;
    }
    .four, .five, .six {
        color: #002E0F
    }
    div {
        background: #002E0F;
    }
} 
@media (max-width:800px) {
    .one, .two, .three, .four {
        color: #ffffff;
    }
    .five, .six {
        color: #4C0000;
    }
    div {
        background: #4C0000;
    }
}
@media (max-width:600px) {
    .one, .two, .three, .four, .five {
        color: #ffffff;
    }
    .six {
    color: #003366;
    }
    div {
        background: #003366;
    }
}
@media (max-width:400px) {
    .one, .two, .three, .four, .five, .six {
        color: #ffffff;
    }
    div {
        background: #52003D;
    }
}   
