        .container {
            width: 70%;
            margin:0 auto;
            background-color: teal;
            color: white;
            font-family:sans-serif, serif;
        }
        .left {
            float:left;
            width: 40%;
        }
        .right {
            float:left;
            width: 40%;
            margin-left: 10%;
        }
        table, tr,th,td {
            border: 1px solid black;
            padding: 8px;
        }
        table {
            margin-bottom: 50px;
        }
        .d2 {
                background-color: white;
                color: black;
        }
        .d4 {
                background-color: white;
                color: black;
        }
        p.bacon {
               font-family: serif; 
        }
        li.nth-child (5) {
                color: black;
        }
        a.hover {
                background-color: white;
        }
        a.link {
                text-decoration: none;
        }
        span.1 {
                color: brown;
        }
